<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mainDbEntities" connectionString="metadata=res://*/mainDBModel.csdl|res://*/mainDBModel.ssdl|res://*/mainDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7549PRF\SQLEXPRESS;initial catalog=mainDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>